@media screen and (min-width: 1400px) {
  .last {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .last {
    margin: 0 auto;
  }
}

h1 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  color: #561515;
  margin-top: 65px;
  margin-bottom: 15px;
}
.first-p {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1a0404;
  margin-bottom: 45px;
}
h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: #561515;
  margin-top: 15px;
}
.date {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: rgba(26, 4, 4, 0.6);
}
.b-text {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #1a0404;
  margin-bottom: 30px;
}
